
.kid-font{
    /*font-family: 'Indie Flower', cursive;*/
    font-weight: 900;
    /*font-family: 'Permanent Marker', cursive;*/
    /*font-family: 'Boogaloo', cursive;*!*/
    /*font-family: 'Cabin Sketch', cursive;*/
    /*font-family: 'Lilita One', cursive;*!*/
    /*font-family: 'Fontdiner Swanky', cursive;*/
    /*font-family: 'Kalam', cursive;*/
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Caveat Brush', cursive;*/
    /*font-family: 'Carter One', cursive;*/
}

.welcome-font{
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Permanent Marker', cursive;*/
    /*font-family: 'Boogaloo', cursive;*/
    /*font-family: 'Cabin Sketch', cursive;*/
    font-family: 'Lilita One', cursive;
    /*font-family: 'Fontdiner Swanky', cursive;*/
}

input[type=checkbox] {
    transform: scale(2) !important;
}
.left-pad {
    margin-top: 9px;
    margin-left: 30px;
}

.right-pad{
    margin-top: 9px;
    margin-right: 30px;
}

.h1-no-pad{
    margin-top: 0px;
    margin-bottom: 0px;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 8px;
}
.ul-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

.li-nav {
    display: inline-block;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:16px;
}

div.form {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.top-margin {
    margin-top: 30px;
}
.body-login-page {
    background: url("../assets/Background2.jpeg") top center;
    background-size: cover;
    height : 100vh;
}

.body-setting {
    background-color: #3f44692b;
    background-size: cover;
    height : 100vh;
}

.body-parentUser-page {
    background: red;
}

.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: rgba(31, 78, 61, 0.5);
    color: #ecefec;
    border-radius: 60px;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

.navbar {
    background-color: #2d41ad91;
    width: 100%;
    border-radius: 60px;
    font-size: 110%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
