<!--<header ng-include="'/views/partials/header.html'"></header>-->

<div class="instructions  text-center" ng-app="myApp" ng-controller="ChildUserController as vm">
	<div class="container">
		<h1 class="lead text-capitalize" style="font-size:275%;">{{vm.childUserService.userObject.username}}'s Chore Award </h1>
		<h2 class="lead text-capitalize" style="font-size:270%;">{{vm.childUserService.userObject.role}} Chore Page </h2>
	</div>
</div>

<div class="navbar">
	<div class="container">
		<ul>
			<!--<li><a href="#!parentUser">User Home</a></li>-->
			<!--<li><a href="#!info">Info Page</a></li>-->
			<li><a href="#!logout">Log Out</a></li>
			<!--<li ng-click="vm.taskService.logout()"><a>Info Page</a></li>-->
		</ul>
	</div>
</div>
