<!--<header ng-include="'/views/partials/header.html'"></header>-->

<div class="instructions  text-center" ng-app="myApp" ng-controller="ParentUserController as vm">
	<div class="container">
		<h1 class="lead text-capitalize">{{vm.parentUserService.userObject.userName}}'s Chore Award </h1>
		<h2 class="lead text-capitalize">{{vm.parentUserService.userObject.role}} Admin Page </h2>
	</div>
</div>

<div class="navbar" style="font-size:100%;">
	<div class="container">
		<ul>
			<li><a href="#!logout">Log Out</a></li>
			<!--<li ng-click="vm.taskService.logout()"><a>Info Page</a></li>-->
		</ul>
	</div>
</div>
