<div class="kid-font">

<div ng-include="'views/partials/childNav.html'"></div>

<!--Award area-->
<div class="container table-bordered col-md-12">
	<div>
		<h1 class="text-center" style="font-size:250%;">{{vm.childUserService.userObject.username}} is working hard to get </h1>
		<img class="center-image" src={{vm.childUserService.userObject.award_id[0].link}}>
	</div>
	<div>
		<h3 class="text-center"> The total points {{vm.childUserService.userObject.username}} has earned is :{{vm.childUserService.userObject.points_earned}}</h3>
		<h3 class="text-center"> The remaining points needed to earn the award is :{{vm.childUserService.userObject.pointsRemaining}}</h3>


	</div>
</div>

<!--Tasks listing table-->
<div class="container">
	<div class="row">
		<div class="col-md-12 top-margin">
			<h2 class="text-center" style="font-size:200%;">{{vm.childUserService.userObject.username}}'s list of things to do are:</h2>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>Task</th>
					<th>Child</th>
					<th>Category</th>
					<th>Due Date</th>
					<th>Assigned By</th>
					<th>Point Value</th>
					<th>Confirmed</th>
					<th>Completed</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="task in vm.childUserService.taskArray">
					<!--<th scope="row">1</th>-->
					<td>{{task.taskname}}</td>
					<td>{{task.assignedto}}</td>
					<td>{{task.category}}</td>
					<td>{{ task.duedate | date:'MM/dd/yyyy' }}</td>
					<td>{{task.assignedby}}</td>
					<td>{{task.pointvalue}}</td>
					<td>
						<label class="radio-inline">
							<input type="checkbox" disabled="disabled" ng-model="task.confirmed" value="task.confirmed"
							       ng-checked="task.confirmed"/>
						</label>
					</td>
					<td>
						<div>
							<label class="radio-inline">
								<input type="checkbox" disabled="disabled" ng-model="task.completed" value="task.completed"
								       ng-checked="task.completed"/>
							</label>
						</div>
					</td>
					<td><span class="btn btn-primary" ng-click="vm.childUserService.completeTask({task})">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> I Did It!!</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!--Add a task-->
<form name="childTask" class="table-bordered">
	<div class="container" style="margin-top:20px;">
		<div class="container form-group row input-group">
			<h1 class="text-center" style="font-size:160%;">I Found Something I Want to Add To My List:</h1>
			<!--<h1 class="lead alert alert-success" role="alert" ng-if="vm.message != ''">{{vm.message}}</h1>-->
			<!--TODO - add popup when a field is empty-->
			<h2 class="bg-primary" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>

			<div class="col-md-3">
				<input type="text" class="form-control" name="task" value="" placeholder="Task description"
				       ng-model="vm.task.taskName">
			</div>


			<div class="col-md-3">
				<select required ng-model="vm.task.category">
					<!--TODO - capitalize output-->
					<option value="" disabled selected hidden>Category</option>
					<option value="chore">Chore</option>
					<option value="homework">Homework</option>
					<option value="outside">Outside Play</option>
				</select>
			</div>

			<div class="col-md-3">
				<input type="date" class="form-control" name="category" value="" placeholder="dueDate"
				       ng-model="vm.task.dueDate">
			</div>

			<div class="col-md-3">
				<span class="btn btn-primary" ng-click="vm.childAddTaskToDatabase(); child.userName = null"><span
						class="glyphicon glyphicon-upload" aria-hidden="true"></span>Add Task</span>
			</div>

		</div>
	</div>
</form>

</div>