<<div ng-include="'views/partials/parent-nav.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Edit User</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>User Name</th>
					<th>Points Earned</th>
					<th>Childs Award Description</th>
					<th>Picture link</th>
					<th>Total Points Needed for Award</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<input type="text" class="form-control" name="Username" value=""
						       ng-model="vm.parentUserService.awardObject.username">
					</td>
					<td>
						<input type="text" class="form-control" name="PointsEarned" value=""
						       ng-model="vm.parentUserService.awardObject.points_earned">
					</td>
					<td>
						<input type="text" class="form-control" name="Award" value=""
						       ng-model="vm.parentUserService.awardObject.award_id[0].awardname">
					</td>
					<td>
						<input type="text" class="form-control" name="Picture Link" value=""
						       ng-model="vm.parentUserService.awardObject.award_id[0].link">
					</td>
					<td>
						<input type="number" class="form-control" name="Point Value" value=""
						       ng-model="vm.parentUserService.awardObject.award_id[0].pointvalue">
					</td>
					<td>
							<span class="btn btn-primary" ng-click="vm.parentUserService.editUser(vm.parentUserService.awardObject)"><span
									class="glyphicon glyphicon-edit"></span> Update User</span>
					</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<br>
<br>


<div class="container text-center">
	<span class="btn btn-danger right-pad" ng-click="vm.parentUserService.deleteUser(vm.parentUserService.awardObject)"><span
			class="glyphicon glyphicon-remove-sign"></span> Delete User</span>

	<span class="btn btn-warning left-pad" ng-click="vm.parentUserService.goToParentView()"><span
			class="glyphicon glyphicon-remove-sign"></span> Cancel Edit</span>
</div>


