<<div ng-include="'views/partials/parent-nav.html'"></div>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Edit Task</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>Task</th>
					<th>Child</th>
					<th>Category</th>
					<th>Due Date</th>
					<!--<th>Assigned By</th>-->
					<th>Point Value</th>
					<th>Confirmed</th>
					<th>Completed</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<input type="text" class="form-control" name="task" value=""
						       placeholder="{{vm.parentUserService.editTaskObject.taskname}}"
						       ng-model="vm.parentUserService.editTaskObject.taskname">
					</td>
					<td>
						<select required ng-model="vm.parentUserService.editTaskObject.assignedto">
							<option selected="{{vm.parentUserService.editTaskObject.assignedto}}"></option>
							<option value="Corbin">Corbin</option>
							<option value="Paige">Paige</option>
						</select>
					</td>
					<td>
						<select required ng-model="vm.parentUserService.editTaskObject.category">
							<!--TODO - capitalize output-->
							<option selected="{{vm.parentUserService.editTaskObject.category}}"></option>
							<option value="chore">Chore</option>
							<option value="homework">Homework</option>
							<option value="outside">Outside Play</option>
						</select>
					</td>
					<td>
						<input type="date" class="form-control" name="category" value=""
						       placeholder="{{vm.parentUserService.editTaskObject.duedate}}"
						       ng-model="vm.parentUserService.editTaskObject.duedate">
					</td>
					<td>
						<input type="number" class="form-control" name="pointValue" value=""
						       placeholder="{{vm.parentUserService.editTaskObject.pointvalue}}"
						       ng-model="vm.parentUserService.editTaskObject.pointvalue">
					</td>
					<td>
						<div class="radio-inline">
							<label class="radio-inline">
								<input type="checkbox" ng-model="vm.parentUserService.editTaskObject.confirmed"
								       value="vm.parentUserService.editTaskObject.confirmed"
								       ng-checked="vm.parentUserService.editTaskObject.confirmed"/>
							</label>
						</div>
					</td>
					<td>
						<label class="radio-inline">
							<input ng-change="vm.parentUserService.completeTask(vm.parentUserService.editTaskObject)" style="font-size:16px" type="checkbox" ng-model="vm.parentUserService.editTaskObject.completed"
							       value="vm.parentUserService.editTaskObject.completed"
							       ng-checked="vm.parentUserService.editTaskObject.completed"/>
						</label>
					</td>
					<td>
							<span class="btn btn-primary" ng-click="vm.parentUserService.updateTask()"><span
									class="glyphicon glyphicon-edit"></span> Update Task</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="container text-center">
	<span class="btn btn-danger right-pad" ng-click="vm.parentUserService.deleteTask()"><span
			class="glyphicon glyphicon-remove-sign"></span> Delete Task</span>

	<span class="btn btn-warning left-pad" ng-click="vm.parentUserService.goToParentView()"><span
			class="glyphicon glyphicon-remove-sign"></span> Cancel Edit</span>
</div>




