<<div ng-include="'views/partials/parent-nav.html'"></div>


<!--<div class="container col-md-12 text-center">-->
	<!--<span class="btn btn-primary" ng-click="vm.parentUserService.editAward()"><span-->
			<!--class="glyphicon glyphicon-edit"></span> Update Award</span>-->
<!--</div>-->
<br>
<br>

<!--Edit Child User section-->
<div class="container table-bordered">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Child User Details</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>User Name</th>
					<th>User Role</th>
					<th>Points Earned</th>
					<th>Childs Award</th>
					<th>Picture link</th>
					<th>The Awards Value</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="child in vm.parentUserService.userArray">
					<td>{{child.username}}</td>
					<td>{{child.role}}</td>
					<td>{{child.points_earned}}</td>
					<td>{{child.award_id[0].awardname}}</td>
					<td>{{child.award_id[0].link}}</td>
					<td>{{child.award_id[0].pointvalue}}</td>
					<td><span class="btn btn-primary" ng-click="vm.parentUserService.changeToEditView({child})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Edit</span></td>
					<td><span class="btn btn-primary" ng-click="vm.parentUserService.uploadPicture({child})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add Award Picture</span></td>
					<!--ng-click="vm.parentUserService.changeToEditTaskView({task})-->
					<!--<td>{{award.pointValue}}</td>-->
					<!--<td>{{award.link}}</td>-->
					<!--<td> class="btn btn-primary" ng-click="vm.getAwards()"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Edit Award</td>-->
				</tr>
				</tbody>
			</table>
			<!--<td ng-if = "user.role==='child'">{{user.role}}</td>-->
			<!--<button ng-click="vm.updateGame(game)" class="btn btn-default">Update</button>-->
			<!--<button ng-click="vm.deleteGame(game._id)" class="btn btn-danger">Delete</button>-->
			<!--<button ng-click="vm.updateVotes(game)" class="btn btn-info">Up Vote!</button>-->

		</div>
	</div>
</div>


<!--Edit Parent User section-->
<div class="container table-bordered top-margin">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Parent User Details</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>User Name</th>
					<th>User Role</th>

					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="parent in vm.parentUserService.userParentArray">
					<td>{{parent.username}}</td>
					<td>{{parent.role}}</td>
					<td ng-if="parent.username !== vm.parentUserService.userObject.userName" ><span class="btn btn-primary" ng-click="vm.parentUserService.deleteUser({parent})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Delete</span></td>
					<!--ng-click="vm.parentUserService.changeToEditTaskView({task})-->
					<!--<td>{{award.pointValue}}</td>-->
					<!--<td>{{award.link}}</td>-->
					<!--<td> class="btn btn-primary" ng-click="vm.getAwards()"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Edit Award</td>-->
				</tr>
				</tbody>
			</table>
			<!--<td ng-if = "user.role==='child'">{{user.role}}</td>-->
			<!--<button ng-click="vm.updateGame(game)" class="btn btn-default">Update</button>-->
			<!--<button ng-click="vm.deleteGame(game._id)" class="btn btn-danger">Delete</button>-->
			<!--<button ng-click="vm.updateVotes(game)" class="btn btn-info">Up Vote!</button>-->

		</div>
	</div>
</div>
