<<div ng-include="'views/partials/parent-nav.html'"></div>



<!--Add a user-->
<div class="container">

	<div class="container form-group row input-group">
		<h1 class="text-center" style="font-size:160%;">Add a User</h1>
		<!--<h1 class="lead alert alert-success" role="alert" ng-if="vm.message != ''">{{vm.message}}</h1>-->
		<!--TODO - add popup when a field is empty-->

		<div class="col-md-3">
			<input type="text" class="form-control" name="username" value="" placeholder="User Name"
			       ng-model="vm.addUserObject.username">
		</div>

		<div class="col-md-3">
			<input type="text" class="form-control" name="password" value="" placeholder="password"
			       ng-model="vm.addUserObject.password">
		</div>

		<div class="col-md-3">
			<select required ng-model="vm.addUserObject.role">
				<option value="" disabled selected hidden>User Role</option>
				<option value="child">Child</option>
				<option value="parent">Parent</option>
			</select>
		</div>

		<div class="col-md-3">
			<span class="btn btn-primary" ng-click="vm.addUser(vm.addUserObject.role)"><span
					class="glyphicon glyphicon-upload" aria-hidden="true"></span>Add User</span>
		</div>
	</div>
</div>

