<<div ng-include="'views/partials/parent-nav.html'"></div>

<br>
<br>

<!--<h2>Modal Example</h2>-->

<!--&lt;!&ndash; Trigger/Open The Modal &ndash;&gt;-->
<!--<button ng-click="vm.openModal()" id="myBtn">Open Modal</button>-->

<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal">-->

	<!--&lt;!&ndash; Modal content &ndash;&gt;-->
	<!--<div class="modal-content">-->
		<!--<span ng-click="vm.closeModal()" class="close">&times;</span>-->
		<!--<p>Some text in the Modal..</p>-->
	<!--</div>-->

<!--</div>-->



<!--Edit Child User section-->
<div class="container table-bordered">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Child Users</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>User Name</th>
					<!--<th>User Role</th>-->
					<th>Points Earned</th>
					<th>Childs Award</th>
					<th>Picture link</th>
					<th>The Awards Value</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="child in vm.parentUserService.userArray">
					<td>{{child.username}}</td>
					<!--<td>{{child.role}}</td>-->
					<td>{{child.points_earned}}</td>
					<td>{{child.award_id[0].awardname}}</td>
					<td>{{child.award_id[0].link}}</td>
					<td>{{child.award_id[0].pointvalue}}</td>
					<td><span class="btn btn-primary" ng-click="vm.parentUserService.changeToEditView({child})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Edit</span></td>
					<td><span class="btn btn-primary" ng-click="vm.parentUserService.uploadPicture({child})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add Award Picture</span></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!--Edit Parent User section-->
<div class="container table-bordered top-margin">
	<div class="row">
		<div class="">
			<h1 class="text-center" style="font-size:200%;">Parent Users</h1>
			<table class="table table-striped col-md-6">
				<thead>
				<tr>
					<th>User Name</th>
					<th>User Role</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="parent in vm.parentUserService.userParentArray">
					<td>{{parent.username}}</td>
					<td>{{parent.role}}</td>
					<td ng-if="parent.username !== vm.parentUserService.userObject.userName" ><span class="btn btn-danger" ng-click="vm.parentUserService.deleteUser({parent})"><span
							class="glyphicon glyphicon-upload" aria-hidden="true"></span> Delete User</span></td>
					<td></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
