<div ng-include="'views/partials/parent-nav.html'"></div>

<div ng-repeat="awarded in vm.parentUserService.awardedArray ">
	<h1 ng-if="awarded.awardEarnedFlag" class="text-center alert-success" style="font-size:250%;">{{awarded.username}} has reached the award goal points!! </h1>

	<!--<h2>Modal Example</h2>-->
	<!--&lt;!&ndash; Trigger/Open The Modal &ndash;&gt;-->
	<!--<button ng-click="vm.openModal()" id="myBtn">Open Modal</button>-->
	<!--&lt;!&ndash; The Modal &ndash;&gt;-->
	<!--<div id="myModal" class="modal">-->
		<!--&lt;!&ndash; Modal content &ndash;&gt;-->
		<!--<div class="modal-content">-->
			<!--<span ng-click="vm.closeModal()" class="close">&times;</span>-->
			<!--<p>Some text in the Modal..</p>-->
		<!--</div>-->
	<!--</div>-->
</div>


<!--Tasks listing table-->
<div class="container table-bordered">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:200%;">Current Tasks List</h1>
			<table class="table table-striped col-md-12">
				<thead>
				<tr>
					<th>Task</th>
					<th>Child</th>
					<th>Category</th>
					<th>Due Date</th>
					<th>Assigned By</th>
					<th>Point Value</th>
					<th>Confirmed</th>
					<th>Completed</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="task in vm.parentUserService.taskObject">
					<!--<th scope="row">1</th>-->
					<td>{{task.taskname}}</td>
					<td>{{task.assignedto}}</td>
					<td>{{task.category}}</td>
					<td>{{ task.duedate | date:'MM/dd/yyyy' }}</td>
					<td>{{task.assignedby}}</td>
					<td>{{task.pointvalue}}</td>
					<td>
						<label class="radio-inline">
							<input type="checkbox" disabled="disabled" ng-model="task.confirmed" value="task.confirmed"
							       ng-checked="task.confirmed"/>
						</label>
					</td>
					<td>
						<div>
							<label class="radio-inline">
								<input type="checkbox" disabled="disabled" ng-model="task.completed" value="task.completed"
								       ng-checked="task.completed"/>
							</label>
						</div>
					</td>
					<td><span class="btn btn-primary" ng-click="vm.parentUserService.changeToEditTaskView({task})"><span
							class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!--Add a task-->
<form name="parentTask" >
	<div class="container table-bordered top-margin">
		<div class="container form-group row input-group">
			<h1 class="text-center" style="font-size:160%;">Add a Task</h1>
			<!--TODO - add popup when a field is empty-->

			<div class="col-md-2">
				<input type="text" class="form-control" name="task" value="" placeholder="Task description"
				       ng-model="vm.task.taskName">
			</div>

			<div class="col-md-2">
				<select required ng-model="vm.childUserIndex">
					<option value="" disabled selected>Assigned Child</option>
					<option ng-repeat="child in vm.parentUserService.userArray" value={{$index}}>
						{{child.username}}
					</option>
				</select>
			</div>

			<div class="col-md-2">
				<select required ng-model="vm.task.category">
					<option value="" disabled selected hidden>Category</option>
					<option value="chore">Chore</option>
					<option value="homework">Homework</option>
					<option value="outside">Outside Play</option>
				</select>
			</div>

			<div class="col-md-2">
				<input type="date" class="form-control" name="category" value="" placeholder="dueDate"
				       ng-model="vm.task.dueDate">
			</div>

			<div class="col-md-2">
				<input type="number" class="form-control" name="pointValue" value="" placeholder="Point Value"
				       ng-model="vm.task.pointValue">
			</div>

			<div class="col-md-2">
				<span class="btn btn-primary" ng-click="vm.addTaskToDatabase(); child.userName = null"><span
						class="glyphicon glyphicon-upload" aria-hidden="true"></span>Add Task</span>
			</div>
		</div>
	</div>
</form>


