
<div class="container body-login-page col-md-12 welcome-font">
	<!--<div align = "right" style="font-size:19px; margin-top:12px ; margin-right:12px">-->
		<!--<a  style="color: brown" href="#!register">Create A New Family Account</a>-->
	<!--</div>-->
	<!--<h1 class="text-center">Chore Award</h1>-->
	<h1 class="text-center">Thanks for registering a new account on Chore Award!</h1>
	<h2 class="text-center">You will next be directed back to the login page.</h2>
	<h2 class="text-center">After logging you can click the link to create new users.</h2>
	<h2 class="text-center">Create users for your children then create tasks for them and also give point values for the tasks</h2>

	<a class="btn btn-default" href="#!home">Got it!</a>

	<!--<div class="form">-->
		<!--<form ng-submit="vm.login()">-->
			<!--<div>-->
				<!--<label for="username">Username:</label>-->
				<!--<input type="text" ng-model="vm.user.username"/>-->
			<!--</div>-->
			<!--<div>-->
				<!--<label for="password">Password:</label>-->
				<!--<input type="password" ng-model="vm.user.password"/>-->
			<!--</div>-->
			<!--<div>-->
				<!--<input class="btn btn-default" type="submit" name="submit" value="Log In"/>-->
			<!--</div>-->
		<!--</form>-->
	</div>

</div>
