
<div class="container body-login-page col-md-12 welcome-font">
	<h1 class="text-center">Thanks for registering a new account on Chore Award!</h1>
	<h2 class="text-center">You will next be directed back to the login page.</h2>
	<h2 class="text-center">After logging you can click the link to create new users.</h2>
	<h2 class="text-center">Create users for your children then create tasks for them and also give point values for the tasks</h2>

	<a class="btn btn-default" href="#!home">Got it!</a>
</div>


